{
    box-sizing: border-box;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    font-weight: 300;
    letter-spacing: .08em;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

.header {
    padding: 30px 20px;
    background-color: #f7f7f7;
}

.projects {
    font-size: 2.4em;
    text-transform: uppercase;
}

.projects h1 {
    margin-top: 35px;
    letter-spacing: .08em;
    font-weight: 300;
}

.desc {
    padding-left: 50px;
}

.sidebar {
    padding-top: 40px;
}

.sidebar p {
    letter-spacing: 0;
}

.gallery {
    max-height: 600px;
    overflow-y: scroll;
}

h2 {
    padding-top: 15px;
    font-size: 20px;
}

h3 {
    font-size: 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .10em;
}

.gallery a {
    color: black;
    text-decoration: none;
}

.content {
    margin: 14px;
    background-color: white;
    min-height: 325px;
    padding: 0 30px;
    text-align: center;
}

.content img {
    width: 100%;
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Blurb */
.blurb {
    padding: 10px;
    font-size: .8em;
    text-align: center;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}